[submodule "apps/helix"]
	path = apps/helix
	url = https://github.com/helix-editor/helix
[submodule "apps/fd"]
	path = apps/fd
	url = https://github.com/t4ce/fd.git
[submodule "apps/tantivy"]
	path = apps/tantivy
	url = https://github.com/quickwit-oss/tantivy.git
[submodule "apps/superseedr"]
	path = apps/superseedr
	url = https://github.com/t4ce/superseedr
[submodule "apps/solara"]
	path = apps/solara
	url = https://github.com/t4ce/solara.git
[submodule "apps/edit"]
	path = apps/edit
	url = https://github.com/t4ce/edit.git
[submodule "apps/texplo"]
	path = apps/texplo
	url = https://github.com/t4ce/texplo.git
