[submodule "apps/helix"]
	path = apps/helix
	url = https://github.com/helix-editor/helix
[submodule "apps/file-system"]
	path = apps/file-system
	url = https://github.com/t4ce/TRUEOS-file-system.git
[submodule "apps/fd"]
	path = apps/fd
	url = https://github.com/t4ce/fd.git
[submodule "apps/Reticulum-rs"]
	path = apps/Reticulum-rs
	url = https://github.com/t4ce/Reticulum-rs
[submodule "apps/tantivy"]
	path = apps/tantivy
	url = https://github.com/quickwit-oss/tantivy.git
